* {
    font-size: 18px;
    margin: 0;
    box-sizing: border-box;
}

header {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    background-color: #797A7E;
}

body {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}

h2 {
    font-size: 24px;
    padding: 24px;
}

h3 {
    margin-top: 30px;
}

@media screen and (max-width: 800px) {
    .project-container {
        flex-direction: column;
    }
}